md-dialog(aria-label="Person" ng-cloak)
    form
        md-toolbar
            .md-toolbar-tools
                h2(layout="row" layout-align="center center")
                    md-icon(md-svg-icon="{{ person.avatar }}" style="margin-right:10px;")
                    | {{ person.Title }} {{ person.FirstName }} {{ person.LastName }}
                span(flex)
                md-button.md-icon-button(ng-click="cancel()")
                    md-icon close
        md-dialog-content
            .md-dialog-content
                div
                    | {{ person.StreetAddress }}
                div
                    | {{ person.Town }}
                div
                    | {{ person.City}}
                div
                    | {{ person.PostCode}}
                div
                hr
                div
                    md-icon business
                    | {{ person.HomeTelephoneNumber }}
                div
                    md-icon phone
                    | {{ person.MobileTelephoneNumber }}
                div
                    md-icon email
                    | {{ person.Email }}
        md-dialog-actions(layout="row")
            span(flex)
            md-button(ng-click="cancel()" style="margin-right:20px;") OK